@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@font-face{
    font-family: "Miama";
    src: url("../Miama.ttf");
}
body{
    background-color: #000;
    color: #FFFFFF;
}
.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight:400;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
  }
  .brand{
    font-style: italic;
     font-weight: 700;
     font-size: 3rem; 
  }
  .white{
    color: white;
  }
  .white-2{
    color: rgba(255, 255, 255, 65%);
 }
 .orange{
    color:rgba(230, 83, 60, 100%);
 }
  .background{
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
    max-width: 100%;
    padding: 5px 150px;
  }
  .display-flex{
    display: flex;
}

  .habit-2{
    display: flex;
    justify-content:space-around
  }
  .move{
    text-align: center;
  }
  .nav-item{
    list-style: none;
    margin-right: 25px;
  }
  .meet-our{
    text-align: center;
  }
  .meet-our-team{
    padding: 0 50px;
  }
  .six-photo{
    background-color: rgba(48, 48, 48, 54%);
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:1.875rem;
    padding: 25px;
    border-radius: 15px;
    margin-top: 20px;

  }
  .six-photo img{
  
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    border-radius: 1.125rem;


  }
  .img-1{
    max-width: 100%;
    margin: 0 auto;
    position: relative;
  }
  .t-name {
    position: absolute;
    bottom:40px;
    left: 25px;
    font-size: 30px;
    font-weight: bold;
     
  }
  .t-title{
    position: absolute;
    bottom: 40px;
    left: 25px;
  }

  .nav-links{
    border: 2px solid rgba(128, 128, 128, 0.171);
    margin: 50px;
    padding: 20px;
    border-radius: 20px;
    gap:40px;
  }
  .nav-link{
    text-decoration: none;
    font-weight: 500;
  }
  .imgg{
    border-radius:150px;
  }
  .bar{
    display: none;
  }
  .navbar{
    justify-content:space-between;
  }
  .navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
  }
  .banner-main{
    display: flex;
    position: relative;

  }
  .banner{
    width: 70%;
  }
  .banner-title{
    font-weight: 800;
    font-size: 3.5rem;
  }
  .run-pic{
    background-image: url("../images/run.jpg");
    background-position: center;
    background-size: cover;
  height: 19rem;
  width: 22rem;
  border-radius: 1.125rem;
  
 } 
 
 .run-2{
  height: 19rem;
  width: 22rem;

 }
  .shape{
    font-family:Miama;
    font-weight: 400;
    font-size: 4rem;

  }
  .btn{
    background-color:  #ff6600;
    color: white;
    padding: 15px 22px;
    border-radius: 30px;
    border: none;
    width: 200px;
  }
.btn-2{
    background-color: #000;
    color: white;
    padding: 15px 20px;
    border-radius: 30px;
    border: 2px solid gray;
    width: 200px;
}
.btn-3{ background-color: #ff6600;
    color: white;
    padding: 10px 22px;
    border-radius: 20px;
    border: none;
    }
    #btn-4{
        background: rgba(48, 48, 48, 54%);
        width:200px;
        height: 98px;
        position: absolute;
        border-radius: 12px;
        left: 750px;
        bottom: 60px;
        right: 20px;

    }
    #btn-5{
        background: rgba(48, 48, 48, 54%);
        width: 193px;
        height: 98px;
        position: absolute;
        border-radius: 12px;
        left: 1100px;
        bottom: 345px;
        right: 20px;
      }
      .btn-6{
        background-color:  #ff6600;
        color: white;
        padding: 8px 50px;
        
        border-radius: 30px;
        border: none;

      }
    #id{
        font-size: 4rem;
        font-weight: 700;
    }
.ex{
    font-weight: 900;
    font-size: 2.50rem;
}
.habits{
    text-align: center;
}

.run{
  background: rgba(48, 48, 48, 54%);
  margin: 10px 50px;
  border-radius: 10px;
  justify-content:space-between;
  padding: 20px;
  gap:10px;
}
.runs{
  padding: 5px 30px;

  width: 50%;
}
.foot{
  background-color: rgba(48, 48, 48, 54%) ;
}
.get{
  font-size:x-large;
}
.large{
  font-size: large;
}
.footer{
  justify-content: space-evenly;
  gap: 2px;
  margin-top: 30px;
}
.at-last{
  text-align: center;
  border-top: 2px solid rgba(128, 128, 128, 0.218);
  margin: 0 auto;
  width: 80%;
  padding-bottom: 2px;
}


.Calculate{
  background: rgba(48, 48, 48, 0.9);
}
.calculator{
  background-color: rgba(48, 48, 48, 54%);
   justify-content: space-around;
    margin: 2em;
    padding: 1em;
    gap: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.sex-2{
  color: gray;
}
.gap{
  gap: 10px;
}
.sex{
  width: 50%;
}
.BMI{
  font-weight: bold;
  font-size:22px;
  margin-bottom: 30px;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1em;
}
.we-blv{
  width: 600px;
  margin: 0 auto;
}
th, td {
  border: 1px solid #cccccc48;
  padding: 0.5em;
}

caption {
  margin-bottom: 0.5em;
  font-weight:bold;
}
form {
  display: flex;
  flex-direction: column;
}

label {
  margin: 0.5em 0 0.2em;
}

input, select,button{
  padding: 0.5em;
  margin-bottom: 1em;
  border-radius: 4px;
  }


.btn-7 {
  background-color: #ff6600;
  color: white;
  border: none;
  cursor: pointer;
  width: 150px;
  border-radius: 15px;
}
.fit-1{
  background: rgba(48, 48, 48, 0.9);
  border-radius: 15px;
  padding-top: 80px;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 5px 5px 10px orange;
}
.clng-part{
  justify-content:space-around;
  gap: 30px;
  height: 300px;
  margin-top: 40px;
  margin-bottom: 40px;

}
.solid-icon{
  padding-left: 100px;
  font-size: 50px;
  margin-top: -20px;
}
.ness{
  color: #ff6600;
  font-style:oblique;
  text-align: center;
}
.btn-10{
  background-color: rgba(0, 0, 0, 0.374);
  color: white;
  padding: 10px 18px;
  border-radius: 30px;
  border:2px solid gray;
  margin-left: 70px;
}


@media (max-width:576px) {
    .nav-links{
        display: none;
    }
    .banner-main{
        display: grid;
        grid-template-rows: auto;
    }
  .background{
    padding: 0px;
  }
  .banner-title{
    font-weight: 900;
    font-size: 2rem;
  }
  .brand{
    margin-left: 50px;
  }
  #btn-4{
    left: 20px;
    bottom: 230px;
    }
    #btn-5{
        
        left: 200px;
        bottom: 450px;
        right: 20px;
    }
    .btn,.btn-2{
    padding: 10px 12px;
    }
  .bar{
    display: block;
    padding-right: 20px;
    padding-top: 60px;
    font-size: 20px;
  }
  .habit-2{
    display: grid;
    grid-template-rows: none;
  }
  .footer{
     margin-top: 700px;
    display: grid;
    grid-template-columns: auto;
    flex-direction: column;

  }
  
  .run{
  display: grid;
  padding: 10px 10px;
  margin-left: 1px;
  margin-right:0.5px;
  }
  .run-pic{
    height: 16rem;
  }
  .btn-6{
   width: 100;
  }
  .six-photo{
    display: grid;
    grid-template-columns: auto;
    flex-direction: column;
    padding: 0 12px;
  }
  .runs{
    text-align:left;
    margin: 0 auto;
    width: 90%;
  }
  .btn-6{
    width: 90%;
    padding: 10px 0;
    border-radius:90px;
    font-size: 20px;
  }
  .foot{
    padding-left: 15px;
  }
  .we-blv{
    width: 100%;
  }
  .calculator{display: grid;
    grid-template-columns: auto;
    flex-direction: column;}
  .clng-part{
    display: grid;
    grid-template-columns: auto;
    flex-direction: column;
  }
  .btn-7{
    width: 100%;
  }
}